<form method="post" action="/appointments">
  <label for="doctor_id">doctor</label>
  <input type="integer" name="doctor_id" id="doctor_id">
  <label for="patient_id">patient</label>
  <input type="integer" name="patient_id" id="patient_id">
  <label for="duration_in_minutes">duration</label>
  <input type="integer" name="duration_in_minutes" id="duration_in_minutes">
  <label for="start_time">start</label>
  <input type="date" name="start_time" id="start_time">

#   <label for="password">Password</label>
#   <input type="password" name="password" id="password">

  <input type="submit" name="Sign up">
</form>
